@import "tailwindcss";

@theme {
  --color-base: #1e1e2e;
  --color-mantle: #181825;
  --color-crust: #11111b;
  --color-text: #cdd6f4;
  --color-subtext0: #a6adc8;
  --color-subtext1: #bac2de;
  --color-surface0: #313244;
  --color-surface1: #45475a;
  --color-overlay0: #6c7086;
  --color-blue: #89b4fa;
  --color-red: #f38ba8;
  --color-green: #a6e3a1;
  --color-yellow: #f9e2af;
  --color-mauve: #cba6f7;
  --color-peach: #fab387;

  --font-sans: 'Inter', 'sans-serif';
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
  margin: 0;
  font-family: var(--font-sans), system-ui, -apple-system, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-mantle);
}

::-webkit-scrollbar-thumb {
  background: var(--color-surface1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585b70;
}